.skills {
  min-height: 100vh;
  padding: 50px 20px;
  background: #fff0f6; /* وردي فاتح */
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #d946ef;
}

.category {
  margin-bottom: 20px;
  text-align: center;
}

.category h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #9333ea;
}

.category p {
  color: #f472b6;
  font-weight: 500;
}
